footer {
  /* background-color: lightblue; */
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: -120px;
}
p{
   /* font-family: bold; */
   font-size: 17px;
}
span{
    color: green;
    text-decoration: underline;
}
h5{
    margin: 0px;
}